.btn{
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: transparent;
    font-weight: bold;
    

    &::after{
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        margin-top: .3rem;
        background-color: var(--orange);
    }
}

.main__product-btn{
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-dark);
}